<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Store_History" value="./History" />
    <add key="Store_Duplicates" value="./Duplicates" />
    <add key="Store_Settings" value="./Settings" />
    <add key="Path_Application" value="." />
    <add key="Name_ConfigurationFile" value="configuration.ini" />
    <add key="Name_FileExtensionJson" value="file_extension_db.json"/>
  </appSettings>
</configuration>