<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="DefaultIpc" transferMode="Streamed" maxReceivedMessageSize="33554432">
          <readerQuotas maxStringContentLength="33554432" maxArrayLength="33554432" />
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint name="UtilitiesIpc"
                binding="netNamedPipeBinding"
                bindingConfiguration="DefaultIpc" 
                contract="Zagorapps.Utilities.Suite.WCF.Library.Services.IArtifactService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" maxConcurrentSessions="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="default" name="Zagorapps.Utilities.Suite.WCF.Library.Services.ArtifactService">
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="DefaultIpc" contract="Prometric.Results.Library.Wcf.IArtifactService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="Store_History" value="./History" />
    <add key="Store_Duplicates" value="./Duplicates" />
    <add key="Store_Settings" value="./Settings" />
    <add key="Store_Tasks" value="./Tasks" />
    <add key="Path_Application" value="." />
    <add key="Name_ConfigurationFile" value="configuration.ini" />
    <add key="Name_FileExtensionJson" value="file_extension_db.json"/>
    <add key="Endpoint_Utilities" value="UtilitiesIpc" />
    <add key="Pipe_Organiser" value="net.pipe://localhost/UtilitiesSuite/Organiser/" />
    <add key="Pipe_Dashboard" value="net.pipe://localhost/UtilitiesSuite/Dashboard/" />
    <add key="Pipe_Connectivity" value="net.pipe://localhost/UtilitiesSuite/Connectivity/" />
    <add key="Pipe_SystemControl" value="net.pipe://localhost/UtilitiesSuite/SystemControl/" />
  </appSettings>
</configuration>