<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultTcp" transferMode="Buffered" maxReceivedMessageSize="33554432">
          <readerQuotas maxStringContentLength="33554432" maxArrayLength="33554432" />
          <reliableSession ordered="true" enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="UtilitiesTcp" binding="netTcpBinding" bindingConfiguration="DefaultTcp" contract="Zagorapps.Utilities.Suite.WCF.Library.Services.IUtilitiesSuiteService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" /> 
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" maxConcurrentSessions="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="default" name="Zagorapps.Utilities.Suite.WCF.Library.Services.UtilitiesSuiteService">
        <endpoint binding="netTcpBinding" bindingConfiguration="DefaultTcp" contract="Zagorapps.Utilities.Suite.WCF.Library.Services.IUtilitiesSuiteService" />
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="Store_History" value="./Organiser/History" />
    <add key="Store_Duplicates" value="./Organiser/Duplicates" />
    <add key="Store_Settings" value="./Organiser/Settings" />
    <add key="Store_Tasks" value="./Organiser/Tasks" />
    <add key="Store_Connectivity" value="./Connectivity" />
    <add key="Path_Application" value="." />
    <add key="Name_ConfigurationFile" value="configuration.ini" />
    <add key="Name_FileExtensionJson" value="file_extension_db.json"/>
    <add key="Endpoint_Utilities" value="UtilitiesTcp" />
    <add key="Tcp_Organiser" value="net.tcp://localhost:30001/Organiser/" />
    <add key="Tcp_Dashboard" value="net.tcp://localhost:30002/Dashboard/" />
    <add key="Tcp_Connectivity" value="net.tcp://localhost:30003/Connectivity/" />
    <add key="Tcp_SystemControl" value="net.tcp://localhost:30004/SystemControl/" /> 
  </appSettings>
</configuration>